*.iml
.idea
*.swp
*.log
*.afl
*.all
*.can
*.stack
*.heap
*.wasm.instr
*.tar.gz
magma
wasabi
wasm-project
node_modules
wasi-sdk-11.0
wasi-sdk-12.0
wasmtime-v0.19.0-x86_64-linux/
wasmtime-v0.20.0-x86_64-linux/
zlib-1.2.11/
wasi-libc

# Binaries produced by "make".
AFL-wasm/afl-analyze
AFL-wasm/afl-as
AFL-wasm/afl-clang
AFL-wasm/afl-clang++
AFL-wasm/afl-fuzz
AFL-wasm/afl-g++
AFL-wasm/afl-gcc
AFL-wasm/afl-gotcpu
AFL-wasm/afl-showmap
AFL-wasm/afl-tmin
AFL-wasm/as
AFL-wasm/**/prog

# Binaries produced by "make -C llvm_mode"
AFL-wasm/afl-clang-fast
AFL-wasm/afl-clang-fast++
AFL-wasm/afl-llvm-pass.so
AFL-wasm/afl-llvm-rt-32.o
AFL-wasm/afl-llvm-rt-64.o
AFL-wasm/afl-llvm-rt.o
AFL-wasm/test-programs/
